:root {
  --background-white: #f2f2f2;
  --background: #fff;
  --background-dark: #2b3844;
}

input[type="text"] {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 270px;
  text-align: center;
  background-color: var(--background);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  border: none;
  border-radius: 5px;
}
input[type="text"] .dark-theme {
  background-color: var(--background-dark);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  input[type="text"] {
    padding-right: 165px;
  }
}
