@import url("../../index.css");
:root {
  --background-white: #f2f2f2;
  --background-light: #fff;
  --header-color-item: #000;
  --header-dark: #2b3844;
 
}
 header .dark-theme{
    background-color: var(--header-dark);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
    color: var(--background-light);
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-light);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  padding: 5px 80px;
  color: var(--header-color-item);
}
.header * {
  color: var(--header-color-item);
}
.header h4 {
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    padding: 20px 16px;
  }
  .header h2 {
    font-size: 14px;
  }
  .header h4 {
    font-size: 12px;
  }
}
