
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@import "./Components/Contexts/theme-context.scss";

:root {
  --main-background-color: hsl(0, 0%, 98%);
  --element-background-color: hsl(0, 0%, 100%);
  --element-color: #131b22;
  --search-input-color: gray;
  --text-color-light:#000;
  --text-color-dark:#fff;
}

  body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--main-background-color);
    margin: 0;
    color:var(--text-color-light) ;
  }
  
.search_filter{
  display: flex;
  justify-content: space-between;
  padding: 48px 80px;
  margin: auto;
  max-width: 1440px;
  
}

@media screen and (min-width: 320px) and (max-width:480px){
  .search_filter{
    flex-direction: column;
    padding: 20px 20px;
  }
}