.new-flag{
    width: 400px;
}
.det-country{
    display: flex;
   grid-template-columns: 2fr,1fr,1fr;
    padding-left: 80px;
    padding-top: 80px;
}
.det-country h1{
    padding-left: 20px;
}
.domain-sides{
    padding-top: 5%;
    padding-left: 10%;
}
.back{
    padding-left: 80px;
}
