.new-flag {
  width: 560px;
  border-radius: 5px;
}
.det-country {
  display: flex;
  padding: 60px 60px 0 80px;
}
.back {
  padding: 6px 24px;
  margin: 40px 0 0 80px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
  border-radius: 2px;
  border: none;
}
.description {
  width: 85rem;
}
.description h2 {
  padding-left: 20px;
}
.details-group {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 300;
  gap: 145px;
}
.details-1 {
  font-size: 14px;
  font-weight: 300;
}
.border {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-top: 50px;
}
.buttons {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.point {
  padding-left: 20px;
}
.border-btn{
  padding: 12px 14px;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
  .back {
    padding: 6px 24px;
    margin: 40px 0 0 28px;
  }
  .new-flag {
    width: 320px;
  }
  .det-country {
    display: block;
    padding: 60px 0 0 28px;
  }
  .details-group {
    display: block;
    font-size: 14px;
    font-weight: 300;
  }
  .description {
    width: 320px;
    margin-top: 60px;
  }
 
}
