.new-flag{
    width: 400px;
}
.det-country{
    display: flex;
    height: 45rem;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.img-div{
    border-radius: 7px;
    height: 22rem;
    width: 30rem;
}
.description{
    height: 20rem;
    padding: 0;
    width: 39rem;
}
.details-group{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 300;
    gap: 45px;
    justify-content: space-between;
}
.details-1{
    font-size: 14px;
    font-weight: 300;
}
.border{
    align-items: center;
    display: flex;
    gap: 10px;
    margin-top: 50px;
}
.buttons{
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}